#add_music-wrapper > form{
	width: 50%;
	margin:7vh auto;
	padding:10px 15px;
	display: flex;
	background-color: #454545;
	flex-wrap: wrap;
	border-radius:5px;
}
#add_music-wrapper > form input:focus{
	outline: none;
	box-shadow: 0 0 0 2px #03a9f4;
}
#add_music-wrapper > form > div:nth-child(2){
	margin-left: 10px;
}
#add_music-wrapper > form > div,
#add_music-wrapper > form > div > div{
	display: flex;
	flex-direction:column;
	flex:1;
}
#add_music-wrapper > form > div > img{
	width: 100%;
	margin: auto;
	text-align: center;
	border-radius:5px;
}
#add_music-wrapper > form > div > div{
	margin: 10px 0 0;
}
#add_music-wrapper > form > div:last-child > input{
	margin: 10px auto 0;
	width: 100px;
	color: white;
	background-color: #03a9f4;
	height: 25px;
	cursor: pointer;
}
#add_music-wrapper > form > div:last-child > input:focus {
    box-shadow: 0 0 0 1px white;
}
#add_music-wrapper > form > div > input,
#add_music-wrapper > form > div > div > input{
	border-radius: 80px;
	border-style: none;
	padding: 0 10px;
	height: 20px;
	margin-top: 5px;
}