
#albums {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#album-container{
    display: flex;
    margin: 30px;
}
.filter-form {
    display: flex;
    width: 100%;
}
.filter-form > form{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    margin: auto;
    padding: 7px;
    background: linear-gradient(#333333, #1b1b1b, black);
}
.filter-form > form > * {
    padding: 2.5px 5px;
    margin: auto;
    border-radius: 5px;
}
.filter-form > form > div{
    display: flex;
    background-color: white;
    color: initial;
}
.filter-form > form > div > label{
    vertical-align: bottom;
}
.filter-form > form > div > input#filter-search {
    border: none;
    height: 100%;
    font-size:1em;
    text-align: center;
    margin-left: 10px;
    flex: 1;
}
.filter-form > form > div > input#filter-search:focus {
    outline: none;
    border-bottom: 1px solid #03a9f4;
}
#album-container > .album{
    width: 8vw;
    margin: 0 auto;
    list-style: none;
    flex-direction: column;
    display: flex;
    text-align: center;
}
#album-container > .album > img{
    width: 100%;
    height: auto;   
}
#album-container > .album > a{
    color: inherit;
    text-decoration: none;
}
#album-container > .album > a:hover{
    text-decoration: underline;
}