#artist-cover{
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction:column;
    background-color: #03a9f4;
    background-image: url(../img/color3.jpg);
    background-position: 50%;
    padding: 7px;
}
#artist-cover > h2{
    margin: auto;
}
#artist-cover > div{
    width: 100%;
    display: flex;
    font-size: 0.8em;
}
#artist-cover > div > span{
    margin: auto;
    padding: 5px;
    background-color: white;
    border-radius: 1em;
    color: #454545;
    font-weight: bold;
}
.album{
    margin:0 auto;
    width: 15%;
    text-align: center;
}
.album > img{
    width: 100%;
    height: auto;
}
.album > a{
    color: white;
    text-decoration: none;
}
.album > a:hover{
    text-decoration: underline;
}
#album-wrapper{
    display: flex;
    flex: 1;
    margin: 4%;
}

/***** album ******/


#container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#album-container{
    display: flex;
    margin: 30px;
}

/***************with albumId***************/

#album-container > div:first-of-type {
    width: 25%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#album-container > div:first-of-type > figure > img {
    width: 100%;
    height: auto;
}
#album-container > div:first-of-type > legend {
    margin: auto;
    text-align: center;
    font-weight: bold;
}
#album-container > div:first-of-type > a {
    margin: auto;
    text-decoration: none;
    color: white;
    text-align: center;
}
#album-container > div:first-of-type > a:hover {
    text-decoration: underline;
}

#album-container > ul{
    flex: 1;
    display: flex;
    flex-direction: column;
    counter-reset: numbers 0;
    margin-left: 20px;
    padding: 5px;
    border-radius: 1em 6px 6px 1em;
    background-color: rgba(93, 93, 93, 0.5);
    overflow-y: auto;
}
#album-container > ul > li.music{
    margin-right:0;
}
#album-container > ul > li.music:nth-child(even) {
    background-color: rgba(51, 51, 51, 0.2);
}
#album-container > ul > li.music .play{
    width: 40px;
    background-color: transparent;
    display: list-item;
    list-style: none;
}
#album-container > ul > li.music .play::before{
    line-height: normal;
    opacity: initial;
    background-color: transparent;
}
#album-container > ul > li.music span.nb {
    width: 20%;
    padding-left: 10px;
}
#album-container > ul > li.music span.nb:before {
    content: counter(numbers);
    counter-increment: numbers;
}
#album-container > ul > li.music > span.title{
    flex:1;
}
#album-container > ul > li.music a {
    margin: auto;
    margin-left: 5px;
    position: relative;
}
#album-container > ul > li.music a > span{
    display: block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}
#album-container > ul > li.music a > div{
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 5px;
    background-color: white;
    width: 175px;
    z-index: 3;
    cursor: pointer;
    display: none;
}
#album-container > ul > li.music a:active > div,
#album-container > ul > li.music a > div:hover{
    display: initial;
}
#album-container > ul > li.music a > div > div {
    display: flex;
    cursor: pointer;
    padding: 2px 15px;
}
#album-container > ul > li.music a > div > div:hover {
    background-color: #fc560b;
    filter: invert();
}
#album-container > ul > li.music a > div > div > span:first-child {
    display: block;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin: auto;
}
#album-container > ul > li.music a > div > div > span:last-child {
    display: block;
    color: black;
    font-size: 14px;
    flex: 1;
    margin: auto;
    text-align: center;
}