#artist-cover{
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction:column;
    background-color: #03a9f4;
    background-image: url(../img/color3.jpg);
    background-position: 50%;
    padding: 7px;
}
#artist-cover > h2{
    margin: auto;
}
#artist-cover > div{
    width: 100%;
    display: flex;
    font-size: 0.8em;
}
#artist-cover > div > span{
    margin: auto;
    padding: 5px;
    background-color: white;
    border-radius: 1em;
    color: #454545;
    font-weight: bold;
}
.album{
    margin:0 auto;
    width: 15%;
    text-align: center;
}
.album > img{
    width: 100%;
    height: auto;
}
.album > a{
    color: white;
    text-decoration: none;
}
.album > a:hover{
    text-decoration: underline;
}
#album-wrapper,
#artist-wrapper{
    display: flex;
    flex: 1;
    margin: 4%;
}

/********************** artists *******************/

#artist-wrapper{
    flex-wrap:wrap;
}
.artist{
    margin: 20px auto 0 auto;
    width: 8vw;
    text-align: center;
}
.artist > img{
    width: 100%;
    height: auto;
    background-color: #03a9f4;
}
.artist > a{
    color: white;
    text-decoration: none;
}
.artist > a:hover{
    text-decoration: underline;
}