
#favorites {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#container{
    flex: 1;
    margin: 0 4vw;
}
.filter-form {
    display: flex;
    width: 100%;
}
.filter-form > form{
    height: 40px;
    width: 100%;
    display: flex;
    margin: auto;
    padding: 7px;
    background: linear-gradient(#333333, #1b1b1b, black);
}
.filter-form > form > span.glyphicon{ 
    width: 40px;
    text-align: center;
    font-size: larger;
    margin: auto;
}
.filter-form > form > span.link-w{
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 100%;
    width: 20px;
    margin: 0 40px 0 10px;
}
.filter-form > form > div{
    display: flex;
    flex: 1;
    margin: 0 30px;
    color:white;
    border-radius:0;
    background-color:initial;
    padding:0;
}
.filter-form > form > div > label{
    text-align: center;
    font-size: small;
    margin: auto 0;
    text-transform: uppercase;
}
.filter-form > form > div > input#filter-search {
    border: none;
    height: 100%;
    font-size: 1em;
    text-align: center;
    flex: 1;
    margin: auto 10px;
    text-align: left;
    padding-left: 20px;
}
.filter-form > form > div > input#filter-search:focus {
    outline: none;
    border-bottom: 2px solid #03a9f4;
}

#fav-container{    
    width: 100%;
    background-color: #454545;
    padding: 0.5em 0 1em;
    border-radius: 0 0 1em 1em;
    border-collapse: initial;
    border-spacing: 0;
}
#fav-container > div{
    display: flex;
    height: 2.3em;
    padding: 0 0.5em;
}
#fav-container > div:nth-child(odd) {
    background-color: rgba(0,0,0,0.1);
}
#fav-container > div > span:first-of-type{
    height: 30px;
    width: 30px;
    flex:none;
    margin: auto 1em auto 5px;
}
#fav-container > div > span > img{
    height: 100%;
    width: 100%;
}
#fav-container > div > span > a{
    text-decoration: none;
    color: white;
}
#fav-container > div > span > a:hover{
    text-decoration: underline;
}
#fav-container > div > span{
    margin: auto;
}
#filter-order{
    display: flex;
    background-color: white;
    color: black;
    padding: 0 0.5em;
}
#filter-order > span{
    width: 30px;
    margin: 0 1em 0 5px;
}
#filter-order > input{
    display: none;
}
#filter-order > label,
#fav-container > div > span{
    flex:3;
}
#filter-order > label[for="genre"],
#fav-container > div > span:last-of-type{
    flex:2;
}
#filter-order > input:checked + label::before {
    content: '\25BE';
}
#filter-order > label:before {
    content: '\25B4';
    cursor: pointer;
}
