
main{
    overflow-y: initial;
}
#library{
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}
#nav{
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background: linear-gradient(#333333, #1b1b1b, black);
}
#nav > a {
    padding: 7px;
    flex: auto;
    text-align: center;
    color: white;
    text-decoration: none;
}
#nav > a[selected="selected"],
#nav > a:hover{
    background: linear-gradient(#333333, black, #1b1b1b);
}
#library-wrapper{
    flex: 1;
}