
#musics {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.filter-form {
    display: flex;
    width: 100%;
}
.filter-form > form{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    margin: auto;
    padding: 7px;
    background: linear-gradient(#333333, #1b1b1b, black);
}
.filter-form > form > * {
    padding: 2.5px 5px;
    margin: auto;
    border-radius: 5px;
}
.filter-form > form > div{
    display: flex;
    background-color: white;
    color: initial;
}
.filter-form > form > div > label{
    vertical-align: bottom;
}
.filter-form > form > div > input#filter-search {
    border: none;
    height: 100%;
    font-size:1em;
    text-align: center;
    margin-left: 10px;
    flex: 1;
}
.filter-form > form > div > input#filter-search:focus {
    outline: none;
    border-bottom: 1px solid #03a9f4;
}
.filter-form > form > input[type="submit"] {
    height: 100%;
    width: 25px;
    background-image: url(../../img/menu/search-w.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.search-wrapper{
    flex:1;
    display: flex;
    height: 0;
}

#musics-container {
    margin: 10px 20px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
#musics-container li.music {
    flex: 1;
    flex-basis: 200px;
    margin: 0 auto;
    max-width: 200px;
    height: 55px;
    background-color: #5d5d5d;
    cursor: auto;
    border-radius: 5px;
}
#musics-container .music:hover .play::before {
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
}
#musics-container .music .play:hover::before {
    color: #03A9F4;
}

.album-wrapper {
    width: 160px;
    height: 100%;
    background-color: #5d5d5d;
    display: flex;
    flex-direction: column;
}
.album-wrapper .filter-item{
    display: flex;
    min-height: 25px;
    width: 100%;
    text-align: center;
}
.album-wrapper .filter-item > span {
    flex: 1;
    margin:auto;
}

.filter-items {
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
}
.filter-item > a {
    margin: auto 5px;
    position: relative;
}
.filter-item > a > span {
    display: block;
    width: 15px;
    height: 15px;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    transform: rotate(45deg);
}

.album-wrapper > .albums {
    overflow-y: auto;
    flex: 1;
    margin: 5px;
    display: flex;
    flex-direction: column;
}
.albums span {
    position: sticky;
    display: flex;
    top: 0;
    background-color: #1d1d1d;
    padding: 2px 0;
    padding-left: 20px;
    margin-right: 5px;
}
.album {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.album[selected="selected"] > img {
    width: 85%;
}
.album:not(:last-child) {
    border-bottom: 1px solid white;
}
.album > img {
    width: 65%;
    height: auto;
    margin: auto;
    border: 2px solid white;
    border-radius: 5px;
}
.album > legend {
    text-align: center;
    width: 100%;
}
.album > legend > a {
    color:inherit;
    text-decoration: none;
}
.album > legend > a:hover {
    text-decoration: underline;
}