/*all playlistss*/
#playlists-wrapper{
	counter-reset: numbers 0;
	width: 100%;
	height: 100vh;
	text-align: center;	
	margin-top: 7px;
}
.playlists{
	max-width: 200px;
	min-width: 130px;
	width:20%;
	margin: 8px 5px;
	display: inline-flex;
	position: relative;
}
.playlists:hover img,
.playlists:hover::before {
	-webkit-filter: brightness(70%);
	filter: brightness(70%);
}

.playlists img{
	background: url('../../img/color3.jpg');
	background-position: 50% 50%;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.playlists a{
	width: 100%;
	left: 0;
	bottom: 10px;
	font-weight: bold;
	position: absolute;
	color:white;
	text-align: center;
	z-index: 3;
	background-color: rgba(0,0,0,0.3);
}
.playlists label{
	display: flex;
	z-index: 4;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.3);
	border: white solid 2px;
	border-radius: 100%;
}
.playlists label:hover{
	background-color:#03A9F4; 
}
.playlists label::before{
	margin: auto;
}
