*{
	margin: 0;
	padding: 0;
	font-family: arial;
	--mainColor: white;
	--linkColor: lightgrey;
	--otherColors: black;
	--buttonBGColor: #999;
	--txtFieldColor: #4fb5d5;
}
html{
	width: 100%;
	height: 100%;
	background-image: url(../../img/color3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
body {
	display: flex;
	height: 100vh;
}
body #filter {
	position: fixed;
	z-index: -1;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(60,156,171,0.5);
}
body > a{
	position: fixed;
	top: 0;
	right: 0;
	display: inline-block;
	text-decoration: none;
	color: var(--mainColor);
	text-transform: uppercase;
	font-weight: bolder;
	margin: 20px 30px;
}
body img#login-logo {
	min-width: 210px;
	max-width: 20%;
	margin: auto;
	padding: 0 1vw;
	-webkit-filter: drop-shadow(0px 0px 1px black);
	filter: drop-shadow(0px 0px 1px black);
}
body div#login-form{
	vertical-align: middle;
	width: 80%;
	max-width: 500px;
	color: var(--mainColor);
	margin: auto;
	padding: 1vw;
}
body div#login-form div#login,
body div#login-form div#signUp{
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
body div#login-form div#login > div,
body div#login-form div#signUp > div{
	text-align: center;
	min-height: 60px;
}
body div#login-form div#login > div span,
body div#login-form div#signUp > div span{
	display: block;
	padding: 20px 0;
	margin: 0 10px;
	color: var(--mainColor);
}
body div#login-form div#login form > div label,
body div#login-form div#signUp form > div label {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bolder;
	color: var(--mainColor);
	padding: 9px;
	display: block;
	cursor: pointer;
}
body div#login-form div#login form > div input,
body div#login-form div#signUp form > div input{
	border: none;
	border-radius: 20px;
	display: block;
	margin: 0 0 10px 10px;
	padding: 0 10px;
	width: calc(100% - 40px);
	font-size: 14px;
	height: 30px;
	color: var(--txtFieldColor);
}
body div#login-form div#login form div input::-webkit-input-placeholder,
body div#login-form div#signUp form div input::-webkit-input-placeholder{
	color: var(--txtFieldColor);
}
body div#login-form div#login form div input:-moz-placeholder,
body div#login-form div#signUp form div input:-moz-placeholder{
	color: var(--txtFieldColor);
}
body div#login-form div#login form div input::-moz-placeholder,
body div#login-form div#signUp form div input::-moz-placeholder{
	color: var(--txtFieldColor);
}
body div#login-form div#login form div input:-ms-input-placeholder,
body div#login-form div#signUp form div input:-ms-input-placeholder{
	color: var(--txtFieldColor);
}
body div#login-form div#login form div input:not([type="submit"]):focus,
body div#login-form div#signUp form div input:not([type="submit"]):focus{
	outline: none;
	box-shadow: -1px -1px 5px 0px black inset;
}
body div#login-form div#login form div:nth-child(2) div{
	display: inline-block;
	width: calc(100% - 80px);
}
body div#login-form div#signUp form div:nth-child(5){
	display: flex;
}
body div#login-form div#signUp form div:nth-child(5) div{
	flex:1;
	display: inline-block;
}
body div#login-form div#login form div:nth-child(2) span{
	position: absolute;
	color: #4b943f;
	font-weight: bolder;
	font-size: 14px;
	display: inline-block;
	margin-top: 31px;
	line-height: 30px;
	text-align: center;
	width: 70px;
	cursor: pointer;
	border-radius: 20px;
	background-color: white;
	box-shadow: 1px 1px 2px 0px black;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
body div#login-form div#login form div:nth-child(2) span:active {
	outline: none;
	box-shadow: 1px 1px 2px 0px black inset;
	padding: 1px 0 0 1px;
}
body div#login-form div#login form > div:last-child,
body div#login-form div#signUp form > div:last-child{
	display: flex;
}
body div#login-form div#login form > div:last-child div,
body div#login-form div#signUp form > div:last-child div{
	display: flex;
	flex: 1;
}
body div#login-form div#login form div:last-child span,
body div#login-form div#signUp form div:last-child span{
	display: inline-block;
	margin: auto;
	text-align: center;
	cursor: pointer;
	color: var(--linkColor);
	padding: 15px;
}
body div#login-form div#signUp form div:last-child span{
	color: var(--mainColor);
	cursor: initial;
	font-weight: initial;
}
body div#login-form div#signUp form div:last-child span a{
	color: var(--linkColor);
	cursor: pointer;
}
body div#login-form div#login form div:last-child span:hover{
	text-decoration: underline;
}
body div#login-form div#signUp form div:last-child span a:hover{
	text-decoration: underline;
}
body div#login-form div#login form div:last-child input[type="submit"],
body div#login-form div#signUp form div:last-child input[type="submit"]{
	width: 71%;
	height: 35px;
	background-color: rgba(0,0,0,0.5);
	margin: auto;
	cursor: pointer;
	line-height: normal;
	font-size: 16px;
	color: var(--mainColor);
	outline: none;
}
body div#login-form div#login form div:last-child input[type="submit"]:focus,
body div#login-form div#signUp form div:last-child input[type="submit"]:focus{
	outline: none;
	box-shadow: 0px 0px 5px 0px black inset;
}

@media only screen and (max-width : 800px) {

	body{
		display: initial;
		height: initial;
	}

	body img#login-logo {
		width: 20%;
		margin: 5% auto 0 auto;
		min-width: 210px;
		display: block;
		padding: 0;
	}

	body div#login-form{
		margin: 32px auto;
		vertical-align: middle;
		width: 80%;
		max-width: 500px;
		color: var(--mainColor);
	}
}