/***************ASIDE*************/
@keyframes pushing{
	0%{
		width: 0;
		display: none;
	}
	100{
	}
}
aside{
	height:100%;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	-moz-box-shadow: 0 0 18px 0 black;
	-webkit-box-shadow: 0 0 18px 0 black;
	-o-box-shadow: 0 0 18px 0 black;
	box-shadow: 0 0 18px 0 black;
	background-color: #454545;
	-webkit-animation:pushing 0.3s;
	-moz-animation:pushing 0.3s;
	-o-animation:pushing 0.3s;
	animation:pushing 0.3s;
	z-index: 0;
}
aside > div > h2 {
	width: 100%;
	background-color: white;
	color: black;
	text-align: center;
	font-size: 15px;
	text-transform: uppercase;
	line-height: 28px;
}
#aside_buttons {
	display: flex;
	margin-top: 5px;
}
#aside_buttons a {
	text-decoration: none;
	color: inherit;
	padding: 8px;
	font-size: 11px;
	text-align: center;
	flex:auto;
	background-color: #5d5d5d;
}
#aside_buttons a:hover{
	background-color: #03a9f4 ;
}
#aside_buttons a > div{
	margin: auto;
}
#search-results > div,
#file_attente{
	height: auto;
	overflow-y: auto;
	display: flex;
	margin: 8px 5px;
}
#search-results > div > ul,
#playlist-elements{
	height:100%;
	width:100%;
	list-style: none;
	overflow: auto;
}

#search-results > div > ul > li:hover{
	border-color: #808080;
	background-color: #cecece;
}
#playlist-elements li:hover{
	border-color: #808080;
	background-color: #5d5d5d;
}

/**************************************************/

@media only screen and (max-width: 800px){
	aside{
		width:200px;
	}
	#aside_buttons a{
		padding: 5px;
	}
	#aside_buttons a > div {
		margin: auto;
		height: 20px;
		width: 100%;
		background-position: 50%;
		background-size: contain;
		background-repeat: no-repeat;
	}
	#aside_buttons a:nth-child(2),
	#aside_buttons a:first-child{
		display: none;
	}
	#aside_buttons a:nth-child(3),
	#aside_buttons a:last-child{
		display: flex;
	}
}
@media only screen and (min-width: 800px){
	aside{
		width: 250px;
	}
	#aside_buttons a:nth-child(3),
	#aside_buttons a:last-child{
		display: none;
	}
	#aside_buttons a:nth-child(2),
	#aside_buttons a:first-child{
		display: flex;
	}
}