#cover-picture {
    width: 100%;
    height: 75px;
    min-height: 75px;
    display: flex;
    /*background-color: #03a9f4;*/
    background-image: url('../img/color3.jpg');
    background-position: 50%;
    background-size: cover;
    padding: 7px;
}

#cover-picture span {
    height: 50px;
    width: 50px;
    margin: auto 0;
    margin-left: 30px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
#cover-picture span img{
    width: 100%;
    box-shadow: 0px 0px 0px 3px white;
    border-radius: 80px;
}

#cover-picture h1 {
    margin: auto 0;
    margin-left: 30px;
}