header {
    width: 200px;
    min-width: 200px;
    height: 100%;
    text-align: center;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-wrap:wrap;
    --bgcolor: #1b1b1b;
    background: var(--bgcolor);
    -moz-box-shadow: -7px 0 25px 6px black;
    -webkit-box-shadow:-7px 0 25px 6px black;
    box-shadow: -7px 0 25px 6px black;
    z-index: 2;
}
header > a {
    height: 90px;
    padding: 0px 10px;
}
header > a > div{
    height: 100%;
    width: 100%;
    display: inline-flex;
}
header > a > div > div{
    height: 100%;
    background-size: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
header > a > div > div:first-child{
    background-image:url("../img/Logo-w.png");
    flex:1;
}
header > a > div > div:last-child{
    background-image:url("../img/utune-txt-w.png");
    flex:2;
    margin-left: 10px;
}
header > div#search-bar{
    height: 30px;
    padding: 5px 0;
    background-color: white;
}
header > div > #search_form{
    height: 100%;
    color: black;
    display: inline-flex;
}
header #search_form > input{
    vertical-align: middle;
    outline: none;
}
header #search_form input#search{
    border: none;
    padding: 0px 10px;
    font-size: 15px;
    height: 100%;
    width: 80%;
    vertical-align: middle;
}
header #search_form input#search::-webkit-input-placeholder,
header #search_form input#search::-moz-placeholder,
header #search_form input#search:-ms-input-placeholder {
    color: black;
}
header #search_form input[alt="Submit"]{
    height: 100%;
    flex:1;
    text-align: center;
    margin: auto;
    background-image: url(../img/menu/search-b.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    border: none;
    cursor: pointer;
}
header #nav-ctn{
    height: auto;
    display: flex;
    margin: 8px 5px;
    flex:1;
}
header nav{
    width: 100%;
    overflow: auto;
}
header nav > a{
    margin-right: 5px;
    padding: 8px 0px;
    display: flex;
    text-decoration: none;
    color:inherit;
    flex:1;
}
header nav > a[selected="selected"]{
    background-color: #03A9F4;
}
header nav > a:not([selected="selected"]):hover{
    background-color: #333;
}
header nav > a > div:first-child{
    flex:2;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 25px;
    width: 100%;
}
header nav > a > div:last-child{
    flex:3;
    margin: auto;
    text-align: left;
}
header > #logout{
    display: flex;
    border-top: 1px solid white;
    cursor:pointer;
    height: 25px;
}
header > #logout > span.logout-w{
    flex: 2;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    margin: auto;
    height: 15px;
}
header > #logout > span:not(.logout-w){
    flex:3;
    margin: auto;
    text-align: left;
    font-size: 0.85em;
}

@media only screen and (max-width: 800px){
    header{
        width: 70px;
        min-width: 70px;
    }
    header > a {
        height: 70px;
    }
    header > a > div > div:last-child,
    header nav > a > div:last-child, 
    #logout > span:last-of-type {
        display: none;
    }
    header nav > a:hover > div:last-child{
        display: block;
        position: absolute;
        left: 80px;
        border-radius: 100% 20px 20px 100%;
        box-shadow: 0 0 0 2px white;
        background-color: var(--bgcolor);
        padding: 4px;
    }
    header #search_form input[alt="Submit"]{
        display: none;
    }
    header #search_form input#search{
        width: 100%;
    }
}
.profile{
    background-color:#03a9f4;
    border-radius: 80px;
    height: 100%;
    width: auto;
    -webkit-box-shadow: 0 0px 0 2px white;
    -moz-box-shadow: 0 0px 0 2px white;
    -o-box-shadow: 0 0px 0 2px white;
    box-shadow: 0 0px 0 2px white;
}
.home-w{
    background-image: url(../img/menu/home-w.png);
}
.history{
    background-image: url(../img/menu/history-b.png);
}
.history-w{
    background-image: url(../img/menu/history-w.png);
}
.playlist{
    background-image: url(../img/menu/playlist-b.png);
}
.playlist-w{
    background-image: url(../img/menu/playlist-w.png);
}
.library{
    background-image: url(../img/menu/library-b.png);
}
.library-w{
    background-image: url(../img/menu/library-w.png);
}
.add-music{
    background-image: url(../img/menu/add-music-b.png);
}
.add-music-w{
    background-image: url(../img/menu/add-music-w.png);
}
.settings{
    background-image: url(../img/menu/settings-b.png);
}
.settings-w{
    background-image: url(../img/menu/settings-w.png);
}
.settings-o{
    background-image: url(../img/menu/settings-b-o.png);
}
.settings-w-o{
    background-image: url(../img/menu/settings-w-o.png);
}
.heart{
    background-image: url(../img/menu/heart-b.png);
}
.heart-o{
    background-image: url(../img/menu/heart-b-o.png);
}
.heart-w{
    background-image: url(../img/menu/heart-w.png);
}
.heart-w-o{
    background-image: url(../img/menu/heart-w-o.png);
}
.link{
    background-image: url(../img/menu/link-b.png);
}
.link-w{
    background-image: url(../img/menu/link-w.png);
}
.rem {
    background-image: url(../img/menu/plus.png);
}
.logout{
    background-image: url(../img/menu/logout-b.png);
}
.logout-w{
    background-image: url(../img/menu/logout-w.png);
}
.save-playlist{
    background-image: url(../img/save-playlist-b.png);
}
.save-playlist-w{
    background-image: url(../img/save-playlist-w.png);
}
.clean{
    background-image: url(../img/clean-b.png);
}
.clean-w{
    background-image: url(../img/clean-w.png);
}
.music-b{
    background-image: url(../img/menu/music-b.png);
}
.music-w{
    background-image: url(../img/menu/music-w.png);
}