footer {
    height: 100%;
    z-index: 100;
}

div#infooter {
    height: inherit;
    padding: 0px;
}

div#blur {
    background-size: 100% 100%;
}

div#column_1 {
    width: 0;
    height: 0;
}

#column_1 img#cover {
    position: absolute;
    top: 5vh;
    left: 0;
    height: 60vh;
    width: auto;
    margin: 0 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%); /* Chrome, Safari, Opera */
    -ms-transform: translateX(-50%); /* IE 9 */
    vertical-align: middle;
}

div#column_2 {
    width: 0;
    height: 0;
}

span#more {
    position: absolute;
    top: 40px;
    right: 40px;
    margin: 0;
}

span#fav {
    position: absolute;
    bottom: 70px;
    left: 40px;
    margin: 0;
}

div#column_3 {
    position: absolute;
    flex: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 60vh;
    padding: 0;
    margin: 0 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%); /* Chrome, Safari, Opera */
    -ms-transform: translateX(-50%); /* IE 9 */
}

span#title {
    margin: 0;
    font-weight: 100;
    font-size: 20px;
}

div#info {
    position: absolute;
    width: 100%;
    top: 20vh;
    text-align: center;
}

span#album {
    display: block;
    margin: 10px 0 0 0;
    font-size: 20px;
    font-weight: 600;
}

span#author {
    display: block;
    margin: 10px 0 0 0;
    font-style: italic;
}

div#time {
    top: 40vh;
    left: 0;
    width: 100%;
    margin: 0 50%;
    display: inline-block;
    text-align: center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%); /* Chrome, Safari, Opera */
    -ms-transform: translateX(-50%); /* IE 9 */
}

div#column_3 div.slider{
    background-color: transparent;
    top: 5vh;
    width: 100%;
    opacity: 0.2;
    height: 60vh;
    margin: 0;
    display: -webkit-box;
    z-index: -1;
    border: none;
    border-radius: 0px;
}
div#column_3 div.slider .sliderBar .sliderDragger{
    display: none;
}
div#column_3 div.slider .sliderBar,
div#column_3 div.slider .chargingBar{
    border-radius: 0px;
}

span.time-elapsed {}

span.video-duration {}

div#column_4 {
    position: absolute;
    height: 76px;
    width: 400px;
    padding: 0;
    margin: 0 50%;
    bottom: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%); /* Chrome, Safari, Opera */
    -ms-transform: translateX(-50%); /* IE 9 */
}

div#buttons{}

div#buttons span:not(:last-child) {
    margin-right: 15%;
}

span.button-loop {}

span.button-prev {}

span.button-play {}

span.button-next {}

span.button-rand {}

.volume {}

div#column_5 {
    width: 0;
    height: 0;
    border: none;
}

span.button-cue {
    display: none !important;
}

span#fullsize {
    position: absolute;
    bottom: 70px;
    right: 40px;
    margin: 0;
}