.active{
  color:#03A9F4;
}
.glyphicon{
  cursor:pointer;
}
footer{
  position: relative;
  bottom:0;
  background-color: #cacaca;
  left: 0;
  width:100%;
  height: 70px;
  display: flex;
  font-family: arial;
  z-index: 2;
}
div#infooter {
  display: flex;
  width: 100%;
  position: relative;
  padding: 5px 0;
  color: white;
  background-color: rgba(0,0,0,0.4);
}
#player{
  display: none;
}
div#blur {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  box-shadow: inset 0px 5px 20px -3px white;
  -o-box-shadow: inset 0px 5px 20px -3px white;
  -moz-box-shadow: inset 0px 5px 20px -3px white;
  -webkit-box-shadow: inset 0px 5px 20px -3px white;

}
#blur div{
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  -o-filter: blur(4px);
  -moz-filter: blur(4px);
  background-color: #03a9f4;
  /*background-image: url(../img/Logo-w.png);*/
  background-position-y: 50%;
  background-size: 100%;
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
}
#column_1,
#column_2,
#column_3,
#column_4,
#column_5{
  height: 100%;
}
#column_1{
  margin-left: 7px;
  height:100%;
  width: 60px;
  display: flex;
}
#column_1 img{
  height: 100%;
  background-color: #03a9f4;
}
div#column_2 {
  width: 50px;
  display: flex;
  flex-direction: column;
}
#column_2 span{
  flex: 1;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 11%;
}
#column_3{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
#info{
  flex:1;
  font-size: 0.9em;
  margin: 0 7px;
}
#info span {
  line-height: 20px;
}
span#playerTitle {
  text-transform: uppercase;
  font-weight: bolder;
}
div#time {
  float:right;
}
#column_4{
  width: 200px;
  display: flex;
  flex-direction:column;
}
div#buttons {
  text-align: center;
  flex:1;
  display: flex;
  margin-bottom: 5px;
}
div#buttons span{
  margin:auto;
}
span.button-loop,
span.button-rand{
  font-size: 16px;
}
span.button-prev,
span.button-next{
  font-size: 20px;
}
span.button-play,
span.button-pause {
  font-size: 24px;
}
#column_5{
  width: 60px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}
#column_5 span {
  font-size: 16px;
  margin: auto;
  flex: 1;
}

/* volume bar */
/* slider bar */
.volume,
.slider {
  position: relative;
  cursor: pointer;
  height: 6px;
  margin: 5px 6px;
  background-color: rgb(98, 174, 208);
  border-radius: 50px;
}
.slider{
  overflow: hidden;
}
.volumeBar,
.sliderBar {
  display: block;
  height: 100%;
  position: relative;
  background-color: #03A9F4;
  z-index: 10;
}
.volumeBar{
  border-radius: 50px;
  width: 50%;
}
.sliderBar{
  width: 0;
}
.volumeDragger {
  height: 18px;
  width: 18px;
  position: absolute;
  top: -100%;
  right: -10px;
  background-color: white;
  background-image: url(../img/menu/volume-b-o.png);
  background-size: contain;
  background-position: 50%;
  border-radius: 100%;
}
.sliderDragger {
  width: 5px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 20;
  background-color: white;
}
.chargingBar {
  display:block;
  height:100%;
  position:absolute;
  top: 0;
  left: 0;
  background-color:lightgrey;
  z-index:9;
}

@media only screen and (max-width: 730px){
  #info #playerAlbum,
  #info span:nth-child(4){
    display: none;
  }
  #playerTitle{
    text-transform: initial !important;
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 670px){
  #playerartist{
    display: none;
  }
}

@media only screen and (max-width: 600px){
  #column_3{
    display: none;
  }
  #column_4{
    margin: 0 auto;
  }
}

@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : portrait){ 
  /* iPhone 6 and iPhone 6+ portrait */
  #column_1,
  #column_3{
    display: none;
  }
}

@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : landscape){ 
  /* iPhone 6 and iPhone 6+ landscape */

}