*{
	padding:0;
	margin:0;
	font-family: arial, sans-serif;
	box-sizing:border-box;
}
@font-face{
	font-family: "myfont";
	src: url('../fonts/myfont.ttf');
}
::-webkit-scrollbar {
	width: 12px;
}
#search-results > div > ul::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.1);
}
/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 1px 0 6px rgba(0,0,0,1); 
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-color: rgba(255,255,255,0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid black;
	background: linear-gradient(to right, #8a8a8a, #3c3c3c);
    -webkit-box-shadow: inset 1px 0px 2px rgba(255,255,255,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {

}

/*****************************************/
body{
	background-color: #333;
	color:white;
	display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    height: 100vh;
    overflow: hidden;
}
a{
	cursor: pointer;
}
body > #body-ctn{
	display: flex;
	flex:1;
}
#main-wrapper{
	flex:1;
	display: flex;
	position: relative;
}
#main-wrapper #search-results{
	background-color: white;
    height: 100%;
    width: 230px;
    position: absolute;
    left: -230px;
    color: initial;
    display: flex;
    -webkit-transition: left 0.25s ease-in-out;
    transition: left 0.25s ease-in-out;
    z-index: 1;
}
main{
	height: 100%;
	flex:1;
	transition: 0.2s ease-in-out;
	overflow-y:auto;
	z-index: 0;
}

.music{
	padding: 5px;
	margin-right: 5px;
	display: flex;
	position: relative;
	border: 1px dashed transparent;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	cursor: -webkit-grab;
}
.music > div:first-child{
	height: 40px;
	width: 40px;
	margin: auto 0;
}
.music .play{
	display: flex;
	width: 100%;
	height: 100%;
	position: relative;
    background-color: #03a9f4;
}
.music .play::before{
	z-index: 2;
	opacity:0;
	top: 0;
	left: 0;
	position: absolute;
	cursor: pointer;
	color: white;
	line-height: 40px;
	width:100%;
	text-align: center;
}
.music .play:hover::before{
	color: #03A9F4;
}
.music:hover .play::before{
	opacity: 1;
	background-color: rgba(0,0,0,0.6);
}
.music img{
	height:100%;
	width:auto;
	margin: auto;
}
.music > div:last-child{
	padding-left: 10px;
	margin: auto 0;
}
.music .music-title {
    font-size: 13px;
}
.music:hover .music-title {
    white-space: normal;
}
.music > div:last-child > div > div > div > span {
    font-size: 10px;
}
.music > div:last-child,
.music > div:last-child > div{
	display: flex;
	flex:1;
	height: 100%;
	overflow: hidden;
}
.music > div:last-child > div > div {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 40px;
}
.music > div:last-child > div > a {
    margin: auto;
    margin-left: 5px;
    position: relative;
}
.music > div:last-child > div > a > span{
    display: block;
	width: 20px;
    height: 20px;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0;
}
.music:hover > div:last-child > div > a > span {
    opacity: 1;
}
.music > div:last-child > div > a > div{
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px 5px;
	background-color: white;
	width: 175px;
	z-index: 3;
	cursor: pointer;
	display: none;
}
.music > div:last-child > div > a:active > div,
.music > div:last-child > div > a > div:hover{
	display: initial;
}
.music > div:last-child > div > a > div > div {
    display: flex;
    cursor: pointer;
	padding: 2px 15px;
}
.music > div:last-child > div > a > div > div:hover {
    background-color: #fc560b;
    filter: invert();
}
.music > div:last-child > div > a > div > div > span:first-child {
    display: block;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin: auto;
}
.music > div:last-child > div > a > div > div > span:last-child {
    display: block;
    color: black;
    font-size: 14px;
    flex: 1;
    margin: auto;
    text-align: center;
}

#search-results li.music:not(:first-child) {
    border-color: black;
    border-width: 1px 0 0 0;
}
